body {
  margin: 0;
  font-family: Arial;
  background: #0b0602;
  color: white;
  text-align: center;
}

.app {
  padding: 20px;
}

.card {
  background: #1b1206;
  border: 1px solid #d8a843;
  margin: 15px 0;
  padding: 20px;
  border-radius: 15px;
}

button {
  background: gold;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}
